includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Trait Maize\\Searchable\\HasSearch is used zero times and is not analysed\.#'
